.formulario {
     justify-content: center;
     display: flex;
     align-items: center;
     width: 100%;

}

.formulario form input {
     border: none;
     height: 40px;
     margin-top: 10px;
}

.formulario .form-nome {
     display: inline-block;
     width: 510px;
     margin-left: 10px;
     font-family: sans-serif;
     font-size: 18px;
     border-bottom: 1px solid #00a7b4;
}

.formulario .form-email {
     display: inline-block;
     width: 510px;
     margin-left: 10px;
     font-size: 18px;
     border-bottom: 1px solid #00a7b4;
}

.icon-nome {
     display: inline-block;
     width: 20px;
}

.icon-email {
     display: inline-block;
     width: 20px;
}

.formulario form .form-message {
     box-sizing: content-box;
     display: block;
     border: none;
     width: 500px;
     height: 200px;
     padding: 25px;
     margin-top: 25px;
     font-size: 18px;
     background-color: whitesmoke;
}

.formulario form button {
     display: block;
     box-sizing: border-box;
     width: 190px;
     height: 65px;
     border: none;
     background-color: #00a7b4;
     color: #fff;
     font-family: sans-serif;
     font-size: 18px;
     text-transform: uppercase;
     float: right;
}

@media (max-width: 600px) {
     .formulario .form-nome {
          width: 80%;
     }

     .formulario .form-email {
          width: 80%;
     }

     .formulario form {
          width: 100%;
          margin-top: 0px;
          position: relative;
          display: block;
     }

     .formulario form input {
          width: 100%;
          height: auto;
          appearance: none;
          border-radius: 0px;
     }

     .formulario form .form-message {
          box-sizing: border-box;
          width: 100%;
          padding: 15px;
          height: 200px;
          appearance: none;
          border-radius: 0px;
     }

     .formulario form button {
          width: 100%;
     }
}


@media(max-width:450px){
     .formulario .form-nome {
          width: 85%;
     }

     .formulario .form-email {
          width: 85%;
     }
}


@media (max-width: 320px) {
     .formulario .form-nome {
          width: 80%;
     }

     .formulario .form-email {
          width: 80%;
     }
}
