@media (max-width: 320px) {
	.primary {
		height: 280px;
	}

	.primary::before {
		height: 380px;
	}

	.icon-computador {
		transform: translateX(-50px);
	}

	.title {
		font-size: 2.6em;
	}

	.sub-title {
		padding-left: 10px;
		padding-right: 10px;
	}
}
