@media (max-width: 600px) {
	.primary {
		display: block;
		text-align: center;
		padding-top: 5%;
		height: 450px;
	}

	.sub-title {
		line-height: 1.4em;
		padding-left: 40px;
		padding-right: 40px;
	}

	.primary::before {
		width: 100%;
		height: 450px;
	}

	.icon-computador {
		width: 100%;
		transform: translateX(-113px);
	}

	.chamada-principal {
		width: 100%;
	}
}
