.-third .row {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 250px;
}

.-third .logo {
  width: 200px;
  height: 275px;
}

.-third .logo.-breno{
  margin-left: 75px;
  margin-right: 75px;
}

.-third .logo.-erika{
  margin-left: 75px;
  margin-right: 75px;
}