.container.-primary::before{
  content: "";
  width: 100%;
  height: 800px;
  position: absolute;
  top:0;
  left: 0;
  background: linear-gradient(-45deg, rgba(0,255,245,1) 0%, rgba(0,133,147,1) 100%);
}

.container.-primary::after{
  content: "";
  width: 100%;
  height: 800px;
  position: absolute;
  top:0;
  left: 0;
  background: no-repeat url(/img/linhas-detalhe.svg);
  background-position-y: 500px;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
  height: 800px;
}

.icon-computador{
  width: 50%;
  float: left;
}

.title {
  margin-top: 60px;
  width: 45%;
  float: left;
  color: #fff;
}

.sub-title{
  width: 45%;
  float: left;
  color: #fff;
}




/* Responsivo 640px */
@media(max-width: 640px){
  .container.-primary::before{
    height: 600px;
  }

  .container.-primary::after{
    height: 600px;
  }

  .row {
    height: 600px; 
    align-items: center;
  }

  .icon-computador{
    width: 80%;
  }

  .title {
    margin-top: 0px;
    width: 100%;
    text-align: center;
  }

  .sub-title{
    width: 100%;
    text-align: center;
  }
}







/* Responsivo 320px */
@media(max-width: 320px){
  .container.-primary::before{
    height: 400px;
  }

  .container.-primary::after{
    background-position-y: 300px;
  }

  .row {
    height: 400px;
    align-items: center;
  }

  .icon-computador{
    width: 80%;
  }

  .title {
    width: 100%;
  }

  .sub-title{
    width: 100%;
  }
}