.-footer {
     display: inline-block;
     width: 100%;
     height: 230px;
     margin-top: 50px;
     padding-top: 30px;
     color: #fff;
     background-color: #008699;
     position: relative;
}

.primary {
     display: flex;
     align-items: center;
     justify-content: space-around;
}

.credito.-second {
     position: absolute;
     bottom: 0px;
     width: 100%;
     background-color: #00bec8;
     padding-top: 10px;
     padding-bottom: 10px;
     text-align: center;
}

@media (max-width: 600px) {
     .-footer {
          text-align: center;
     }

     .primary {
          display: inline;
     }

     .telefone {
          font-size: 20px;
          margin-bottom: 10px;
          text-decoration: #fff;
     }

     .credito {
          font-size: 10px;
     }
}
