.-second {
     position: relative;
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: center;
}

.-second .revista {
     margin-top: -50px;
     width: 200px;
     height: 270px;
}

@media (max-width: 600px) {
     .-second {
          justify-content: center;
     }

     .-second .revista {
          width: 140px;
          height: 200px;
          margin-top: 0px;
     }
}
