.-third {
     position: relative;
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: center;
}

.-third .logo {
     margin: 25px;
     width: 200px;
     height: 170px;
}

